@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

*{
    margin: 0;
    padding: 0;
    font-size: 25px;
    box-sizing: border-box;
}

body{
    background-color: #FAFAF9;
}

.card{
    width: 360px;
    height: auto;
    margin: 164px auto;
    
    background-color:#ffff ;
    border-radius: 25px;
    padding-bottom: 30px;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
   
}

.card img{
    border-radius: 30px;
    padding: 16px;
    
}

.card .target{
    margin-top: 16px;
}

.card .target h1{
    margin:16px 16px 6px 16px;
    font-size: 18px;
    font-family: 'Sora', sans-serif;
    font-weight: bold;
    color: #20293A;
    
    
    
}

.card .target p{
    color: #6C727F;
    font-family: 'Sora', sans-serif;
    font-size: 14px;
    margin: 0px 16px 20px 16px;
    
    
}

button{
    margin-left: 16px ;
    border: none;
    background-color: #E6D6FC;
    font-size: 10px;
    color: #883AE1;
    font-family: 'Sora', sans-serif;
    padding: 6px 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    
}

.card .target span{
    font-size: 14px;
    font-family: 'Sora', sans-serif;
    margin: 20px 16px 20px 16px;
    color: #6C727F;
    padding-top: 30px ;
}

.card .target hr{
    background-color: #FAFAF9;
}
